<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/monuments"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2>Monument Details</h2>
    </ion-title>
    <ion-icon slot="end" name="more" (click)="onOptionsDetail(monument)"></ion-icon> 
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-title>Information</ion-card-title>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label text-wrap>
            <h3>Name</h3>
            <p>{{monument.getNombre()}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Address</h3>
            <p>{{monument.getVia().getCodTipoVia()}} {{monument.getVia().getNomOficial()}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
 <!-- <ion-card>
     <ion-card-content>
      <ion-item>
        <ion-label text-wrap>
          <h3>Phone number</h3>
          <p *ngIf="monument.getTelefono() === 0; else available">Not available </p>
          <ng-template #available>{{monument.getTelefono()}}</ng-template>
        </ion-label>
        <ion-button (click)="makeCall(monument.getTelefono())">
            <ion-icon name="call"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
          <ion-button color="primary" slot="start" (click)="makeVisit()">Visitado</ion-button>
          <ion-button color="primary" slot="end"(click)="makeFav()">Fav</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card> -->
</ion-content>