<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-title>Monuments</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-searchbar 
  animated
  [(ngModel)]="text" 
  (ionChange)="filterMonumentsByTxt(text)"
  (ionClear)="reloadPlaces()">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let place of _monumentsList"
      [routerLink]="['/', 'places', 'tabs','monuments', place.getIdVia()]" detail>
      <ion-label text-wrap>
        {{place._nombre}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


